.button {
  cursor: pointer;
  height: 2.5rem;
  background: darken($color: cornflowerblue, $amount: 10);
  border: 1px solid aliceblue;
  border-radius: 25px;
  padding: 0 1rem;
  font-weight: bold;
  color: aliceblue;
  transition: color 150ms;

  &:hover,
  &:focus {
    background: darken($color: cornflowerblue, $amount: 15);
  }
}
