.error-boundary {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .error-boundary__title {
    color: cornflowerblue;
  }
  .error-boundary__message {
    color: aliceblue;
    max-width: 80%;
    font-size: 0.875rem;
  }
  .error-boundary__stack {
    color: red;
    white-space: pre;
    border-left: 2px solid aliceblue;
    padding-bottom: 1rem;
    max-width: 100%;
  }
}
